<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Vebkomas 2018 copyright</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="
    sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
	<header>
		<div class="inner">
			<img class="thmb" src="vebkomas.png" alt="Vebkomas logo">

		</div>	
	</header>
	<p>
		It ain't what you don't know that gets you into trouble, its what you know for sure that just ain't so.
	</p>
</body>
</html>